<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h2>Multiple reviews are not allowed. <a href="/books/<%= book_id %>">Go back</a></h2>
    </div>
</div>


<% include ../partials/footer %>